body {
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: white;
    background: url(../img/wood.jpg);
}

#tablero {
    background-color: rgb(122, 121, 121);
    margin: 0 auto;
    width: 100%;
    height: 500px;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(8, minmax(50px, 1fr));
}

.celda {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.pieza{
    cursor: pointer;
}

.celda.negra{
    background-color: #D18B47;
}

.celda.blanca{
    background-color: #FFCE9E;
}

#chessboard {
    position: absolute;
    margin: 2em auto auto auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: grid;
    width: 575px;
    height: 500px;
    grid-template:  "cols board" 1fr
                    ". rows" 1fr ;
}

#tablero {
    grid-area: board;
}

#cols {
    text-align: right;
    grid-area: cols;
    display: grid;
    align-items: stretch;
    grid-template-rows: repeat(8, minmax(50px, 1fr));
    padding-right: 0.2em;
}

#rows {
    grid-area: rows;
    display: grid;
    grid-template-columns: repeat(8, minmax(50px, 1fr));
}